@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@layer base {
    html,body{
        font-family: 'Roboto Condensed', sans-serif;
        @apply antialiased  bg-backcolor
        
        
    }
   
    .portfo img {
        transition: transform 1.5s ease;
      }
      .portfo:hover img {
        transform: scale(1.2);
      }

      .opa img {
        transition: transform 0.8s ease;
      }
      .opa:hover img {
        transform: scale(0.9);
      }
      .opa h3{
        transition: 0.4s ease;
      }
      .opa:hover h3{
        @apply translate-y-0.5;
        opacity: 0;
      }
      
      
}